<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid row">
    <!-- Brand -->
    <a class="navbar-brand d-flex align-items-center ms-2 me-5 gap-2 col-1" href="/">
      <i class="fa-brands fa-airbnb ms-3"></i>
      <span>airbnb</span>
    </a>

    <!-- Toggler Button for Mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Centered Search Bar -->
    <div class="d-none d-md-flex mx-auto justify-content-center w-100 col-6 ms-5" style="max-width: 850px;">
      <div class="search-container">
        <div class="search-bar">
          <div class="search-section">
            <label><b>Where</b></label>
            <input type="text" placeholder="Search destinations" />
          </div>
          <div class="search-section">
            <label><b>Check in</b></label>
            <input type="date" />
          </div>
          <div class="search-section ">
            <label><b>Check out</b></label>
            <input type="date" />
          </div>
          <div class="search-section">
            <label><b>Who</b></label>
            <input type="text" placeholder="Add guests" />
          </div>
          <button class="search-btn">
            <span class="material-symbols-outlined">search</span>
          </button>
        </div>
        
      </div>
    </div>

    <div class="user-section col">
      <a href="/listings/new" class="host-link btn-hover">Airbnb your home</a>
      <button class="language-button btn-hover me-2">
        <span class="material-symbols-outlined">language</span>
      </button>
    
        <div class="profile-menu dropdown ">
          <button class="profile-button btn-hover">
            <span class="material-symbols-outlined menu-icon">menu</span>
            <i class="fa-solid fa-user"></i>
          </button>
        
          <ul class="dropdown-menu">
            <% if (!currUser) { %>
              <li><a class="dropdown-item" href="/signup"><b>Sign Up</b></a></li>
              <li><a class="dropdown-item" href="/login"><b>Log In</b></a></li>
            <% } else { %>
              <li><a class="dropdown-item" href="/logout"><b>Logout</b></a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>


  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const profileButton = document.querySelector(".profile-button");
    const dropdownMenu = document.querySelector(".dropdown-menu");

    profileButton.addEventListener("click", function (e) {
      e.stopPropagation();
      dropdownMenu.style.display = dropdownMenu.style.display === "flex" ? "none" : "flex";
    });

    document.addEventListener("click", function () {
      dropdownMenu.style.display = "none";
    });
  });
</script>

